  <div class="contents-top__stats-wrap">
    <div class="contents-top__stats">
      <span class="contents-top__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents-top__stats-count">1000</div>
      <span class="contents-top__stats-change"><i class="green">5%</i> up from last week</span>
    </div>
    
    <div class="contents-top__stats">
      <span class="contents-top__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents-top__stats-count">207</div>
      <span class="contents-top__stats-change"><i class="green">5%</i> up from last week</span>
    </div>
  
    <div class="contents-top__stats">
      <span class="contents-top__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents-top__stats-count">1300</div>
      <span class="contents-top__stats-change"><i class="green">5%</i> up from last week</span>
    </div>
    
    <div class="contents-top__stats">
      <span class="contents-top__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents-top__stats-count">10</div>
      <span class="contents-top__stats-change"><i class="green">5%</i> up from last week</span>
    </div>

    <div class="contents-top__stats">
      <span class="contents-top__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents-top__stats-count">508</div>
      <span class="contents-top__stats-change"><i class="green">5%</i> up from last week</span>
    </div>

    <div class="contents-top__stats">
      <span class="contents-top__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents-top__stats-count">7</div>
      <span class="contents-top__stats-change"><i class="green">5%</i> up from last week</span>
    </div>
  </div><!-- /contents-top__stats-wrap -->