.contents__header {
  min-width: 85%;
  height: 50px;
  background: #EDEDED;
  float: right;
}

.contents__header-menu {
  float: right;
}

.gear {
  font-size: 37px;
  padding: 10px;
}

.header-menu-list {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  left: 1150px;
  top: 50px;
  display: none;
  li {
    padding: 15px 0 15px 20px;
  }

  li:hover {
    background: #F7F7F7;
  }
  a {
    text-decoration: none;
    color: #5A738E;
  }
}
