<div class="container-sml ">
  <div class="col-12">
    <h1 class="heading text-center">
      Let's improve the programming skill by answering the problem.
    </h1>
  </div>
</div>
<div class="container-lrg">
  <div class="centerdevices col-12">
    <div class="iphoneipad">
      <div class="ipad">
        <div class="mask">
          <%= image_tag "webapp" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-sml">
  <div class="col-12 text-center">
    <h2 class="paragraph">
      Let's start by registering your email address.
    </h2>
    <%= render 'home/sign_up', { user_home: @user } %>
  </div>
</div>
