<div class="tutorial-area">
  <div class="tutorial-note">
    <i class="tutorial-note__pin"></i>
    <h2 class="tutorial-note__title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p>チュートリアル<span class="mark-pink">チュートリアル</span>チュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアル</p>
    <p>チュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアル</p>    
    <p><span class="mark-pink">チュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアル</span></p>
    <p>チュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアル</p>
    <p>チュートリアルチュートリアルチュートリアルチュートリアル<span class="mark-pink">チュートリアルチュート</span>リアルチュートリアルチュートリアルチュートリアルチュートリアルチュートリアル</p>    
  </div>
</div>