<div class="tutorial">
  <%= render partial: 'layouts/common_partials/header_stats' %>

  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
  <div class="tutorial-material tutorial-corner-fold">
    <h2>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</h2>
    <p class="tutorial-material__contents">問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題問題</p>
    <p class="tutorial-material__detail-link">このチュートリアルを読む</p>
  </div>
</div>

