<div class="tutorial-area">
  <%= render partial: 'layouts/common_partials/header_stats' %>

  <p id="notice"><%= notice %></p>

  <%= link_to 'チュートリアルの新規作成はこちら', new_e_sal_tutorial_path %>
  <section class="content-header">
    <div class="box-body">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>ユーザーカテゴリ</th>
              <th>URL</th>              
              <th>メインカテゴリ</th>
              <th>作成日</th>
              <th>アクション</th>
            </tr>            
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

