<div class="tutorial-area">
  <%= render partial: 'layouts/common_partials/header_stats' %>

<%= link_to 'チュートリアル新規作成はこちら', new_e_sal_tutorial_path, class: "new-tutorial-link" %>
<section class="content-header">
  <div class="box-body">
    <div class="col-sm-12">
      <table class="table">
        <tbody>
          <tr>
            <th>タイトル</th>
            <th>メインカテゴリ</th>
            <th>ユーザーカテゴリ</th>
            <th>del</th>
          </tr>
            <tr>
              <td>
                タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
              </td>
              <td>
                メインカテゴリ
              </td>
              <td>
                ユーザーカテゴリ
              </td>
              <td>
                削除
              </td>                    
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


</div>
