<div class="tutorial-area">
  <div class="tutorial-note">
    <i class="tutorial-note__pin"></i>
    <h2 class="tutorial-note__title"><%= @tutorial.title %></h2>
    <div class="tutorial-note__date"><%= l @tutorial.datetime_for_display, format: :date %></div>
    <div class="tutorial-note__main-sentence"><%= markdown @tutorial.tutorial_content.body %></div>
  </div>
</div>
