<div class="middle-header">
  <div class="container-sml">
    <div class="col-12">
      <h1 class="heading text-center">
        Let's improve the programming skill by answering the problem.
      </h1>
    </div>
  </div>
  <div class="container-lrg">
    <div class="centerdevices col-12">
      <div class="iphoneipad">
        <div class="ipad">
          <div class="mask">
            <%= image_tag "webapp" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-sml">
    <div class="col-12 text-center">
      <h2 class="paragraph">
        Let's start by registering your email address.
      </h2>
      <%= render 'sign_up' %>
    </div>
  </div>
</div>
<div class="feature6">
  <div class="container-sml flex">
    <div class="col-12">
      <h3 class="heading">
        Welcome to E-SAL(Enhance Skills with AIIT Life)!
      </h3>
      <p class="paragraph">
        This service aims to improve the programming skills of AIIT students.
        The following services are available here.
        <ul>
          <li>Implement tutorials to master basic knowledge.</li>
          <li>Answer programming problems.</li>
          <li>Seek answers from others and deepen knowledge.</li>
        </ul>
      </p>
    </div>
  </div>
</div>
