.tutorial-area {
  @include main-contents-area;
}

.tutorial-wrap {
  width: 349px;
  float: left;
  display: inline-block;
  margin: 0 50px;
}

.tutorial-material {

// 左上が折れてるバージョン
//   background: #fff;
//   width: 450px;
//   height: 330px;
//   margin: 50px;
//   float: left;
//   display: inline-block;
//   h2 {
//     padding: 85px 20px 0 20px;
//     font-size: 25px;
//   }
//   &__contents {
//     padding: 10px 20px;
//     color: #4b4b4b;
//     font-size: 15px;
//     height: 80px;
//   }
//   &__detail-link {
//     margin: 20px 20px 0 0;
//     float: right;
//   }
// }

// .tutorial-corner-fold {
//   position: relative;
//   -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
//   -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
//   box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
//   &:before {
//     content: "";
//     position: absolute;
//     top: 0%;
//     left: 0%;
//     width: 0px;
//     height: 0px;
//     border-bottom: 70px solid $component-background;
//     border-left: 70px solid transparent;
//     -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
//     -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
//     box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
//   }
//   &:after {
//     content: "";
//     position: absolute;
//     top: 0%;
//     left: 0%;
//     width: 0px;
//     height: 0px;
//     border-top: 69px solid $main-contents-background; 
//     border-right: 69px solid transparent;
//   }

  margin-left: 100px;
  position: relative;
  &__note {
    color: #333;
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: Satisfy;
    font-size: 30px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    display: block;
    margin: 40px 0 0 0;
    text-align: right;    
  }
  &__title {
    font-size: $basic-title-font-size;
    text-align: left;
    font-weight: bold;
  }
  &__contents {
    margin-top: 20px;
    font-size: 16px;
    display: block;
  }
  &__read-more {
    margin: 20px 0 20px 0;
    font-size: 16px;
    position: absolute;
    top: 240px;
    left: 182px;
  }
  //メモのbackground
  &__background {
    background: #ebf5b2;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  &__pin {
    @include pin;
  }
  // pinの赤い玉
  &__pin:after {
    @include pin-after;
  }
  // pinの影
  &__pin:before {
    @include pin-before;
  }
  &__image-body-area {
    margin-top: 20px;
  }
  &__image {
    display: inline-block;
    width: 150px;
    vertical-align: top;
  }
  &__body {
    display: inline-block;
    width: 200px;
    font-size: 15px;
    text-align: left;
    word-wrap: break-word;
  }
}

/* チュートリアル詳細ページ*/
.tutorial-note {
  background-color: #ffc;
  background-image: linear-gradient(#efefef 1px, transparent 1px), linear-gradient(#ffffe6 0, #ffc 100%);
  background-position: 0 -1px, 0;
  background-size: 2em 2em, 100%;
  font-size: 18px;
  padding: 20px 2em;
  margin: 50px;
  font-style: italic;
  &__title {
    text-align: center;
    padding: 20px;
    font-size: 28px;
  }

  &__pin {
    @include pin;
    left: 50%;
    top: 0;
  }
  // pinの赤い玉
  &__pin:after {
    @include pin-after;
  }
  // pinの影
  &__pin:before {
    @include pin-before;
  }
  &__date {
    float: right;
  }
  &__main-sentence {
    margin-top: 30px;
  }
}

.mark-pink {
  background: linear-gradient(transparent 55%, #f9c 60%);
}

/* チュートリアル編集ページ一覧 */
.new-tutorial-link {
  margin-left: 30px;
}

.tutorial-edit-left-area {
  position: relative;  
  margin-left: 37px;
  width: 75%;
  display: inline-block;
  &__title-area {
    width: 82%;
  }
  &__title {
    display: inline-block;
  }
  &__title-count {
    display: inline-block;
    float: right;
  }
  &__tutorial-body-area {
    width: 82%;
  }
  &__tutorial-body {
    display: inline-block;
  }
  &__tutorial-body-count {
    display: inline-block;
    float: right;
  }
  &__body-error {
    width: 300px;
  }
}

.tutorial-edit-right-area {
  float: right;
  width: 20%;
  margin-right: 20px;
  &__photo-id {
    display: inline-block;
  }
  
  &__photo-id-field {
    width: 50%;
  }
  &__photo {
    display: inline-block;
    float: right;
  }
  &__show-tutorial-link {
    margin-top: 20px;
  }
}

.tutorial-edit-title {
  margin-left: 23px;
}

.new-tutorial-button {
  margin: 0 0 20px 25px;
}

.image-upload-area {
  &__drop-zone {
    margin: 0 30px 10px 0;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    font: 15px;
    color: #bbb;
    width: 737px;
  }
}


/* いいね、よくないねボタン */
.evaluation-button {
  display: inline-block;
  width: 100%;
  margin: 40px 0 0;
  padding: 40px 0 0;
  font-size: 18px;
  border-top: 10px dashed #eee;
  text-align: center;
  &__like-button {
    @extend %evaluation-button;
    background: #ed2553;
    box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
    &:hover {
      transform: translateY(-3px);
    }
  }
  &__dislike-button {
    @extend %evaluation-button;
    background: #093dbd;
    box-shadow: 0 10px 20px -8px rgb(0, 102, 153);
    &:hover {
      transform: translateY(-3px);
    }
  }
  span, p {
  	color: #9d9da4;
  	font-family: monospace;
  }
  &__like-numbers {
    margin: 0 20px;
  }
  &evaluation-button__fa {
    margin-right: 5px;
  }
}

.js-animate-like-dislike-button {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

@keyframes likeAnimation {
  0% { transform: scale(30); }
  100% { transform: scale(1); }
}

.comment-area {
  width: 500px;
  margin-left: 30px;
  display: inline-block;
  p {
    margin-bottom: 0;
  }
  &__character-count {
    margin-left: 90px;
    margin-bottom: 0;
  }
  &__current-character-num-area {
    float: right;
  }
}

.comment-history {
  width: 500px;
  float: right;
  display: inline-block;
  h2 {
    font-size: 17px;
    margin-top: 0;
  }
}