.tutorial {
  @include main-contents;
}

.tutorial-material {
  background: #fff;
  width: 450px;
  height: 330px;
  margin: 50px;
  float: left;
  display: inline-block;
  h2 {
    padding: 85px 20px 0 20px;
    font-size: 25px;
  }
  &__contents {
    padding: 10px 20px;
    color: #4b4b4b;
    font-size: 15px;
    height: 80px;
  }
  &__detail-link {
    margin: 20px 20px 0 0;
    float: right;
  }
}

.tutorial-corner-fold {
  position: relative;
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  &:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 70px solid $component-background;
    border-left: 70px solid transparent;
    -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
    box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    border-top: 69px solid $main-contents-background; 
    border-right: 69px solid transparent;
  }
}