.programming-area {
  @include main-contents-area;
}

.programming-wrap {
  width: 349px;
  float: left;
  display: inline-block;
  margin: 0 50px;
}

.programming-material {
  margin-left: 100px;
  position: relative;
  &__note {
    color: #333;
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: Satisfy;
    font-size: 30px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
    display: block;
    margin: 40px 0 0 0;
    text-align: left;    
  }
  &__title {
    font-size: $basic-title-font-size;
    text-align: left;
    font-weight: bold;
  }
  &__contents {
    margin-top: 20px;
    font-size: 16px;
    display: block;
  }
  &__read-more {
    margin: 20px 0 20px 0;
    font-size: 16px;
    position: absolute;
    top: 240px;
    left: 182px;
  }
  //メモのbackground
  &__background {
    background: #ebf5b2;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  &__pin {
    @include pin;
  }
  // pinの赤い玉
  &__pin:after {
    @include pin-after;
  }
  // pinの影
  &__pin:before {
    @include pin-before;
  }
  &__image-body-area {
    margin-top: 20px;
  }
  &__image {
    display: inline-block;
    width: 150px;
    vertical-align: top;
  }
  &__body {
    display: inline-block;
    width: 300px;
    font-size: 15px;
    text-align: left;
    word-wrap: break-word;
  }
}

/* 詳細ページ*/
.programming-note {
  background-color: #ffc;
  background-image: linear-gradient(#efefef 1px, transparent 1px), linear-gradient(#ffffe6 0, #ffc 100%);
  background-position: 0 -1px, 0;
  background-size: 2em 2em, 100%;
  font-size: 18px;
  padding: 20px 2em;
  margin: 20px;
  // margin: 50px;
  font-style: italic;
  &__title {
    text-align: center;
    padding: 20px;
    font-size: 28px;
  }

  &__pin {
    @include pin;
    left: 50%;
    top: 0;
  }
  // pinの赤い玉
  &__pin:after {
    @include pin-after;
  }
  // pinの影
  &__pin:before {
    @include pin-before;
  }
  &__date {
    float: right;
  }
  &__main-sentence {
    margin-top: 30px;
  }
  &__sub-sentence {
    margin-top: 30px;
    font-size: 15px;
  }
}

.mark-pink {
  background: linear-gradient(transparent 55%, #f9c 60%);
}

/* 編集ページ一覧 */
.new-programming-link {
  margin-left: 30px;
}

.programming-edit-left-area {
  margin-left: 37px;
  width: 75%;
  display: inline-block;
  &__title-area {
    width: 82%;
  }
  &__title {
    display: inline-block;
  }
  &__title-count {
    display: inline-block;
    float: right;
  }
  &__programming-body-area {
    width: 82%;
  }
  &__programming-body {
    display: inline-block;
  }
  &__programming-body-count {
    display: inline-block;
    float: right;
  }
  &__body-error {
    width: 300px;
  }
}

.programming-edit-right-area {
  float: right;
  width: 20%;
  margin-right: 20px;
  &__photo-id {
    display: inline-block;
  }
  
  &__photo-id-field {
    width: 50%;
  }
  &__photo {
    display: inline-block;
    float: right;
  }
  &__show-programming-link {
    margin-top: 20px;
  }
}

.programming-edit-title {
  margin-left: 23px;
}

.new-programming-button {
  margin: 0 0 20px 25px;
}

.programming-problem-form-wrap {
  width: 100%;
}
.programming-problem-form-wrap h3 {
  margin: 20px 20px 0 20px;
}

.programming-problem-form {
  width: 60%;
  font-size: 15px;
  float: left;
  &__title-field {
    margin: 20px;
    padding: 0;
  }
  &__question-desc-field {
    margin: 20px;
    padding: 0;
  }
  &__correct-answer-field {
    margin: 20px;
    padding: 0;
  }
  &__confirm-button {
    margin: 20px;
  }
  &__submit-button {
    margin: 20px;
  }
}

.programming-problem-form .field_with_errors {
  @extend .has-error;
}

.programming-problem-note-area {
  width: 35%;
  margin: 108px 10px 10px 0;
  padding: 0;
  font-size: 14px;
  // ul {
  // color: #668ad8;
  // border: dashed 2px red;
  // padding: 0.5em 0.5em 0.5em 2em;
  // }
  // ul li {
  //   list-style-type: square;
  //   line-height: 1.5;
  //   padding: 0.5em 0;
  // }
}

.fusen {
  width: 100%;
  position: relative;
  z-index: 0;
}
.fusen ul li {
  font-size: 0.9em;
  margin: 1.0em 0;
  padding: 1em;
  position: relative;
  background: linear-gradient(to right, #ffffcc 0%, #f1f1c1 0.5%, #f1f1c1 13%, #ffffcc 16%);
}
.fusen ul li::after{
    content:"";
    display:block;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    right: 0;
    height: 15px;
    width: 99%;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    transform: rotate(2deg);
}