<div class="contents__main">
  <div class="contents__stats-wrap">
    <div class="contents__stats">
      <span class="contents__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents__stats-count">1000</div>
      <span class="contents__stats-change"><i class="green">5%</i> up from last week</span>
    </div>
    
    <div class="contents__stats">
      <span class="contents__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents__stats-count">207</div>
      <span class="contents__stats-change"><i class="green">5%</i> up from last week</span>
    </div>
  
    <div class="contents__stats">
      <span class="contents__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents__stats-count">1300</div>
      <span class="contents__stats-change"><i class="green">5%</i> up from last week</span>
    </div>
    
    <div class="contents__stats">
      <span class="contents__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents__stats-count">10</div>
      <span class="contents__stats-change"><i class="green">5%</i> up from last week</span>
    </div>

    <div class="contents__stats">
      <span class="contents__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents__stats-count">508</div>
      <span class="contents__stats-change"><i class="green">5%</i> up from last week</span>
    </div>

    <div class="contents__stats">
      <span class="contents__stats-title"><i class="fa fa-user"></i> Total Users</span>
      <div class="contents__stats-count">7</div>
      <span class="contents__stats-change"><i class="green">5%</i> up from last week</span>
    </div>
  </div><!-- /contents__stats-wrap -->

  <div class="contents__timeline-wrap">
    <div class="x_title">
      <h2>Timeline</h2>
      <div class="clearfix"></div>
    </div>
    <ul class="contents__timeline">
      <li>
        <p class="contents__timeline-date">2017年6月30日</p>
        <div class="contents__timeline-content">
          <h3>Javaのプログラミングが追加されました。</h3>
          <p>問題「回文を探せ」</p>
        </div>
      </li>
      <li>
        <p class="contents__timeline-date">2017年6月29日</p>
        <div class="contents__timeline-content">
          <h3>Rubyのチュートリアルが追加されました。</h3>
          <p>Rubyでループを実行する。Rubyでループを実行する。Rubyでループを実行する。Rubyでループを実行する。Rubyでループを実行する。</p>
        </div>
      </li>
      <li>
        <p class="contents__timeline-date">2017年6月28日</p>
        <div class="contents__timeline-content">
          <h3>アカウントが作成されました。</h3>
          <p>一緒に頑張りましょう。一緒に頑張りましょう。一緒に頑張りましょう。一緒に頑張りましょう。一緒に頑張りましょう。一緒に頑張りましょう。一緒に頑張りましょう。一緒に頑張りましょう。</p>
        </div>
      </li>
      <li>
        <p class="contents__timeline-date">2017年6月28日</p>
        <div class="contents__timeline-content">
          <h3>アカウントが作成されました。</h3>
          <p>一緒に頑張りましょう。</p>
        </div>
      </li>
      <li>
        <p class="contents__timeline-date">2017年6月28日</p>
        <div class="contents__timeline-content">
          <h3>アカウントが作成されました。</h3>
          <p>一緒に頑張りましょう。</p>
        </div>
      </li>      
    </ul>
  </div><!--/contents__timeline-wrap -->
</div>